<div class="container mx-auto px-5 py-10">
  <form action="/search" method="POST">
    <input type="search"
           name="query"
           placeholder="Search"
           onkeyup="this.form.requestSubmit()"
           class="w-full py-4 px-6 bg-white outline-none">

    <div class="grid grid-cols-5 gap-x-8 gap-y-10 mt-5">
      <div class="bg-white p-6 space-y-10">
        <div>
          <div class="text-lg mb-3 font-bold">Rating</div>
          <div class="space-y-1">
            <% 2.upto(4).each do |rating| %>
              <div>
                <input id="filter-rating-<%= rating %>"
                      name="rating"
                      value=<%= rating %>
                      type="radio"
                      onchange="this.form.requestSubmit()">
                <label for="filter-rating-<%= rating %>" class="text-sm"><%= rating %>+</label>
              </div>
            <% end %>
          </div>
        </div>
        <div>
          <div class="text-lg mb-3 font-bold">Type</div>
          <div class="space-y-1">
            <% I18n.t("faker.restaurant.type").each.with_index do |type, index| %>
              <div>
                <input id="filter-type-<%= index %>"
                      name="type[]"
                      value=<%= type %>
                      type="checkbox"
                      onchange="this.form.requestSubmit()">
                <label for="filter-type-<%= index %>" class="text-sm"><%= type %></label>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <ul id="search-results" class="col-span-4 flex flex-col space-y-8">
        <% @restaurants.each do |restaurant| %>
          <%= erb(:restaurant, locals: {restaurant: restaurant}) %>
        <% end %>
      </ul>
    </div>
  </form>
</div>
